/* Стили для шапки */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 20px 50px;
  font-size: 18px;
  font-weight: 400;
}

/* Стили для меню */
.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin: 0;
  padding: 0;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
}

.header__link_active {
  text-decoration: underline;
}

/* Стили для логотипа */
.header__logo {
 
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

/* Стили для адреса */
.header__address {
  justify-self: end;
  max-width: 240px;
  font-style: normal;
  line-height: 1.35;
}